a {
    color: whitesmoke;
    text-decoration: none;
}

.bottom-row {
    margin-top: 20px;
}

.top-row {
    margin-top: 100px;
}

.card {
    background: none;
}

.project-title {
    font-size: 30px;
    font-weight: bolder;
}