.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;

      img {
        height: 60%;
        border-radius: 50%;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 700px;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
      }
    }
    a {
        text-decoration: none;
        color: black;

      .downArrow {
        position: absolute;
        font-size: 100px;
        bottom: 30px;
        animation: arrowBlink 2s infinite;
        
      }

      @keyframes arrowBlink {
        to {
          opacity: 0;
        }
      }
    }
  }
}
